/*  your css code here. If applicable */
*{
    margin: 0;
    padding: 0;
	box-sizing: border-box;
}
.container{
    height: 100vh;
    width: 100vw;
    background-color: rgb(164, 99, 224);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
}

.btn{
    padding: 8px 20px 8px 20px;
    border: none;
    outline: none;
    background-color: blueviolet;
    color: white;

}
.stop{
    padding: 8px 20px 8px 20px;
    border: none;
    outline: none;
    background-color: blueviolet;
    color: white;
}